<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container">
    <p-panel header="Asistencia general">
        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        <br />
    </p-panel>
</div>

<div class="card">
    <div class="flex align-items-center justify-content-between w-full">
        <!-- Contenedor de Fechas -->
        <div class="flex gap-3">
            <!-- Fecha de Inicio -->
            <div class="field">
                <label
                    for="startDate"
                    class="font-medium text-gray-700"
                    style="padding-right: 7px"
                    >Fecha de Inicio:</label
                >
                <p-calendar
                    dateFormat="dd/mm/yy"
                    [maxDate]="minStartDate"
                    [(ngModel)]="startDate"
                    inputId="startDate"
                    class="w-full"
                    placeholder="Selecciona una fecha"
                    [showIcon]="true"
                    (onDateSelect)="validateDates()"
                ></p-calendar>
            </div>

            <!-- Fecha Fin -->
            <div class="field">
                <label
                    for="endDate"
                    class="font-medium text-gray-700"
                    style="padding-right: 7px"
                    >Fecha Fin:</label
                >
                <p-calendar
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="endDate"
                    [maxDate]="maxEndDate"
                    inputId="endDate"
                    class="w-full"
                    placeholder="Selecciona una fecha"
                    [showIcon]="true"
                    (onDateSelect)="validateDates()"

                ></p-calendar>
            </div>
        </div>

        <div class="flex gap-3">
            <!-- Botón Buscar -->
            <div class="field">
                <button
                    pButton
                    type="button"
                    label="Buscar"
                    icon="pi pi-search"
                    (click)="Buscar()"
                    class="p-button p-button-primary"
                ></button>
            </div>

            <!-- Botón Exportar -->
            <div class="field">
                <button
                    pButton
                    type="button"
                    label="Exportar"
                    icon="pi pi-file-excel"
                    (click)="generateEXCEL()"
                    class="p-button p-button-success"
                    *ngIf="mostrarBoton"
                ></button>
            </div>
        </div>
    </div>

    <p-table
        #dt1
        [value]="Asistenciagenerales"
        dataKey="id"
        editMode="row"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        responsiveLayout="scroll"
        [filters]="filters"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Fecha</th>
                <th>Hora</th>

                <th>
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Nro Documento
                        <!--                   <p-columnFilter type="text" field="codigoEmpleado" display="menu" placeholder="Código"  [showOperator]="false" [showAddButton]="false" [showMatchModes]="false" matchMode="contains"></p-columnFilter>
-->
                    </div>
                </th>
                <th>
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Nombres y apellidos
                        <!--                   <p-columnFilter type="text" field="nombreEmpleado" display="menu" placeholder="Nombres"  [showOperator]="false" [showAddButton]="false" [showMatchModes]="false" matchMode="contains"></p-columnFilter>
 -->
                    </div>
                </th>
                <th>
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Nombre marcador
                        <!--                 <p-columnFilter type="text" field="nombreMarcador" display="menu" placeholder="Marcador"  [showOperator]="false" [showAddButton]="false" [showMatchModes]="false" matchMode="contains"></p-columnFilter>
-->
                    </div>
                </th>
            </tr>

            <!-- Filtros de la primera fila -->
            <tr>
                <th></th>
                <th></th>
                <th style="max-width: 110px; min-width: 100px">
                    <p-columnFilter
                        type="text"
                        field="codigoEmpleado"
                        placeholder="Código"
                        [showMenu]="false"
                        MatchMode="contains"
                    >
                    </p-columnFilter>
                </th>
                <th style="max-width: 150px; min-width: 100px">
                    <p-columnFilter
                        type="text"
                        field="nombreEmpleado"
                        placeholder="Nombres"
                        [showMenu]="false"
                        MatchMode="contains"
                    >
                    </p-columnFilter>
                </th>

                <th style="max-width: 150px; min-width: 100px">
                    <p-columnFilter
                        type="text"
                        field="nombreMarcador"
                        placeholder="Marcador"
                        [showMenu]="false"
                        MatchMode="contains"
                    >
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <!-- Cuerpo de la tabla -->
        <ng-template
            pTemplate="body"
            let-rowData
            let-editing="editing"
            let-ri="rowIndex"
        >
            <tr [pEditableRow]="rowData">
                <td>{{ rowData.fechaFormateada }}</td>
                <td>{{ rowData.tiempoFormateado }}</td>
                <td>{{ rowData.codigoEmpleado }}</td>
                <td>{{ rowData.nombreEmpleado }}</td>
                <td>{{ rowData.nombreMarcador }}</td>
            </tr>
        </ng-template>

        <!-- Mensaje vacío -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
